/* GLOBAL STYLES */

/*Dashboard Page Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
:root {
  --ligBlue: #366ae5;
  --progressBg: #e6e6e6;
  --bodyBgc: #f5f7fb;
}
body {
  background: var(--bodyBgc);
  color: #222;
  padding-bottom: 40px;
}

/*--------------Top Bar---------------- */
.topbar {
  background: #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.topbar h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--ligBlue);
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notify {
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.badge {
  background: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -8px;
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  gap: 5px;
  border-left: 1.5px solid rgb(200, 197, 197);
  padding-left: 5px;
}
.profile-circle {
  width: 40px;
  height: 40px;
  background: var(--ligBlue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

/*--------------Layout Grid-------------- */
.container {
  width: 90%;
  margin: 25px auto;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-4 {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.grid-3 {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-2 {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/*--------------Card--------------*/
.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 13px;
}
.orders {
  background-color: var(--ligBlue);
}
.deliveries {
  background-color: rgb(102, 216, 192);
}
.alert {
  background-color: rgb(249, 104, 19);
}
.available {
  background-color: rgb(43, 206, 43);
}
.card h3 {
  margin: 10px 0;
  font-size: 26px;
}

.text-muted {
  color: grey;
  font-size: 14px;
}

.text-success {
  color: #1c9d57;
}

.text-danger {
  color: #d9534f;
}

/*--------------Quick Action Buttons--------------*/
.quick-btn {
  background: #fff;
  padding: 22px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: 0.25s ease;
  cursor: pointer;
}

.quick-btn:hover {
  background-color: var(--ligBlue);
  color: #fff;
}
.quick-btn:hover svg {
  fill: #fff;
}

/*--------------Low Stock--------------*/
.stock-item {
  margin-bottom: 20px;
}

.stock-item strong {
  font-size: 16px;
}

.restock {
  float: right;
  background: #eef0ff;
  padding: 4px 14px;
  border-radius: 20px;
  font-size: 13px;
  color: var(--ligBlue);
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: var(--progressBg);
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: var(--ligBlue);
  border-radius: 10px;
}

/*--------------Recent Orders--------------*/
.order-card {
  background: #fff;
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-bottom: 12px;
}

.badge-status {
  float: right;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
}

.in-transit {
  background: #0dcaf0;
}
.delivered {
  background: #1c9d57;
}
.pending {
  background: #ffbb33;
}

@media (max-width: 600px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

/*Billing Page Styles */
